<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.5.17"></script>
    <script src="https://unpkg.com/vue-router@3.0.1"></script>
    <title>Document</title>
</head>
<body>
<div id="app">
    <nav>
    <router-link to="/top">トップページ</router-link>
    <router-link to="/users">ユーザー一覧</router-link>
    </nav>
    <router-view></router-view>
</div>

<script type="text/x-template" id="user-list">
    <div>ユーザー一覧ページです</div>
</script>

<script type="text/x-template" id="user-list">
    <div>
         <div class="loading" v-if="loading">読み込み中...</div>
         <div v-id="error" class="error">
             {{ error }}
         </div>
         <!-- usersがロードされたら各ユーザーの名前を表示する -->
         <div v-for="user in users" :key="user.id">
             <h2>{{ user.name }}</h2>
         </div>
    </div>
</script>


<script>

// ユーザー一覧
var getUsers = function(callback){
         setTimeout(function(){
             callback(null, [
                 {
                     id: 1d,
                     name: 'Talikuya Tejima'
                 },
                 {
                     id: 2,
                     name: 'Yohei Noda'
                 }
             ])
         }, 1000)
     }

     var UserList = {
         template: '#user-list',
         data: function(){
             return{
                 loading: false,
                 users: function(){ return() },
                 error: null
             }
         },

         created: function(){
             this.fetchData()
         },

         watch:{
             '$route': 'fetchData'
         },

         methods:{
             fetchData: function(){
                 this.loading = true

                 getUsers((function(err, users){
                     if(err){
                         this.error = err.toString()
                     } else{
                         this.users = users
                     }
                 }).bind(this))
             }
         }
     }

    //  ルート
var router = new VueRouter({
    routes:[
    {
        path: '/top',
        component:{
            template: '<div>トップページです。</div>'            
        }
    },
    {
        path: '/users',
        component:{
            template: '<div>ユーザー一覧ページ</div>'            
        }
    }
    ]
})

var app= new Vue({
    router:router
}).$mount('#app')
</script>
</body>
</html>