<!DOCTYPE html>
<html lang="ja">
    <title>初めてのVue.js</title>
    <script src="http://unpkg.com/vue@2.5.17"></script>
<button id="b-button" v-bind:disabled="!canBuy">仕事大変</button>
<div id="app">
    <ul>
        <li v-for="item in items" v-bind:key="item.name">
            {{ item.name }}の個数: <input type="number" v-model="item.quantity" min="0">
        </li>
    </ul>
    <hr>
    <div v-bind:style="errorMessageStyle">
        <ul>
            <li v-for="item in items" v-bind:key="item.name">
                {{ item.name }}: {{ item.price }} × {{ item.quantity }} = {{ item.price*item.quantity|numberWithDelimiter}}円
            </li>
        </ul>
    </div>
    <p>{{ items[0].name }}: {{ items[0].price }} X {{ items[0].quantity }} </p>
    <p>小計:{{ totalPrice| numberWithDelimiter }} 円</p>
    <p>
        ファイル処理例 {{ 1000 | numberWithDelimiter }}からご購入いただけます
    </p>
    <button v-bind:disable="!canBuy" v-on:click="doBuy">購入</button>
</div>
<script src="app.js"></script>